version: '2'
services:

  hubot:
    build:
      context: .
      args:
        OWNER: ${USERNAME}
        BOTNAME: <botname>
        DESC: <description>
        ADAPTER: <adapter>
#    environment:
#      HUBOT_IRC_SERVER: <server>
#      HUBOT_IRC_PORT: <port>
#      HUBOT_IRC_ROOMS: "<rooms>"
#      HUBOT_IRC_UNFLOOD: "true"
#      HUBOT_LOG_LEVEL: debug
#      HUBOT_SLACK_TOKEN: <token>
#      HUBOT_LOG_LEVEL: debug
       # for livedoor-weather
#      WEATHER_CITY: 270000
#      WEATHER_CRON_ROOMS: "#HOGE"
#      WEATHER_CRON_SCHEDULE: '0 0 17 * * 1-5'
       # for train
#      TRAIN_AREA: 26
#      TRAIN_CRON_ROOMS: "#HOGE"
#      TRAIN_CRON_SCHEDULE: '0 0 17 * * 1-5'
    volumes:
      - ./scripts:/home/bot/scripts
    restart: always
    command: ./start-forever.sh
    tty: true
